@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
:root{
    --primary-color: #FF42A5;
    --primary-color: #FF42A5;
    --white-color: #fff;
}
body{
    font-family: 'Work Sans', sans-serif;
}
img{
    width: 100%;
}
figure,ul,li,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.btn-primary{
    color: #FFF;
    border-radius: 48px;
    background: var(--linear, linear-gradient(45deg, #F948B2 0%, #FF42A5 100%));
}
.btn-white{
    color: var(--primary-color);
    border-radius: 48px;
    background: var(--white-color);
}
.btn-secondary{
    color: #FFF;
    border-radius: 48px;
    background: var(--linear, linear-gradient(45deg, #4EC5F7 0%, #05aef6 100%));
}

header{
    background-color: var(--white-color);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 80px;
    display: flex;
    align-items: center;

}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand .logo-wrap{
    display: flex;
    gap: 5px;
    align-items: center;
}
.brand .logo-wrap figure img{
    width: 85px;
}
.brand .logo-wrap p{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.brand .logo-wrap p span{
    color: var(--primary-color);
}
.menus{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.menus li a{
    color: #3C354F;
}
.socials{
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #E7E6E9;
    padding: 8px 15px;
    border-radius: 5px;
}
.socials p{
    color: #3C354F;
}
.socials i{
    font-size: 25px;
}
.socials .youtub{
    color: #F61C0D;
}
.socials .facebook{
    color: #0677E8;
}


/* Banner Section css code  */
.banner{
    background-color: #FBF7FD;
}
.banner-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.banner-left .intro-text{
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner-left .game{
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-rule .rule-item{
    display: flex;
    align-items: center;
    column-gap: 10px ;
    padding: 5px 0;
}
.banner-rule .rule-item i{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-rule .rule-item span{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.btn-group{
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}



/* online section css */
.section-header{
    width: max-content;
    margin: 30px auto;

}
.section-header p{
    text-align: center;
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.section-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-title span{
    
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.gams-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.gams-grid article{
    border-radius: 16px;
}
.gams-grid article .article-header{
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}
.gams-grid article .article-header img{
    margin-bottom: -4px;
}
.gams-grid article .article-title{
    margin-top: 12px;
}
.gams-grid article .article-title a{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.gams-grid article .article-header:hover{
    outline: 3px solid var(--primary-color);
}
.gams-grid article .article-header .hover-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 2, 35, 0.516);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: transform 0.200s linear;
}
.gams-grid article .article-header .hover-effect p{
    text-align: center;
}
.gams-grid article .article-header .hover-effect p.icon{
    color: white;
    font-size: 35px;
    margin-bottom: 5px;
}
.article-section{
    padding-top: 80px;
}
.gams-grid article .article-header .hover-effect p.text{
    color: var(--primary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.gams-grid article .article-header:hover .hover-effect{
    transform: scale(1);
}


/* About section */
.about-grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}
.about-left .bigImg{
    position: relative;
    transform: scale(0.8);
}
.about-left .bigImg .smallImg{
    position: absolute;
    right: -90px;
    bottom: -90px;
}
.about-left .bigImg .smallImg img{
    width: 250px;
}
.about-right .about-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.about-grid{
    margin-bottom: 40px;
}
.about-content {
    padding: 0px 83px;
}
.about-right .about-title span{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-right .about-para{
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* Career Section */
.career-section{
    background-color: #FF42A5;
    padding: 50px 0;
}
.career-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.career-left .career-title{
    color: var(--white-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 15px;
}
.career-left .carrer-description{
    color: var(--white-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.career-list{
    margin-bottom: 25px;
}
.career-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.career-list li span{
    color: var(--white-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}
.career-section{
    background-image: url('/assets/images/group-65.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.about-section{
    padding-bottom: 50px;
}















/* Button group */
.button-section{
    padding: 50px 0;
    background-color: #FFF9FC;
}
.button-group{
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.button-group .game-button{
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    column-gap: 7px;
    border-radius: 50px;
    padding: 10px 10px;
    background-color: var(--white-color);
    transition: all 0.200 linear;
}
.button-group .game-button img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.button-group .game-button p{
    color: #0B0223;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.200 linear;
}
.button-group .game-button:hover{
    border: 1px solid var(--primary-color);
    
}
.button-group .game-button:hover p{
    color: var(--primary-color);
    
}


/* Footer css */
footer{
    background-color: #0B0223;
    padding: 70px 0 50px 0;
}
.f-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.f-logo .logo-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
}
.f-logo .logo-wrap img{
    width: 80px;
}
.f-logo .logo-wrap p{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--white-color);
}
.f-logo .logo-wrap p span{
    color: var(--primary-color);
}
.f-menu,.f-social,.additional-menu{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.f-menu li a{
    color: var(--white-color);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    transition: all 0.200s linear ;
}
.f-menu li a:hover{
    color: var(--primary-color);
}
.f-social{
    margin-top: 25px;
}
.f-social li i{
    font-size: 25px;
    color: var(--white-color);
}
.additional-menu{
    margin-top: 40px;
}
.additional-menu li a{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.copyText{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


